* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans',sans-serif;
}

.wrapper {
    width: 100%;
    position: relative;
}

.logo a {
    margin: auto;
    padding: 20px;
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: sans-serif;
    color: #364f6b;
    display: block;
}

.menu {
    float: right;
    margin: auto;
    padding: 20px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(4, 98, 92);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #0d0d0d;
}

h2 {
    margin: auto;
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #0d0d0d;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 200px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #f53e75;
    text-decoration: none;
}

.tbl-pink {
    background: #f53e75;
    border-radius: 200px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
}

main p {
    margin: auto;
    padding: 2%;
    text-align: left;
    font-size: medium ;
    line-height: medium;
}

i {
    text-align: left;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

label.id {
    display: flex;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-widht: 991.98px){
    .wrapper {
    width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;

    }
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
    }
}